<div class="blogpost">
    <h2>{{blogpost.title}}</h2>
    <h3>Posted by {{blogpost.user.username}} on {{blogpost.createdAt}}</h3>
    <p>{{blogpost.body}}</p>
</div>

{{#if blogpost.comments}}
<div class="comments">
    <h2>Comments</h2>
    <div class="comment">
        {{#each blogpost.comments as |comment|}}
            <h3>Comment by {{comment.user.username}} on {{comment.createdAt}}</h3>
            <p>{{comment.comment}}</p>
        {{/each}}
    </div>
</div>
{{/if}}