<div class="hidden" id="post-id">{{blogpost.id}}</div>

<div class="blogpost">
    <h2 id="selectedBlogpost">{{blogpost.title}}</h2>
    <h3>Posted by {{blogpost.user.username}} on {{blogpost.createdAt}}</h3>
    <p>{{blogpost.body}}</p>
</div>

{{#if (equals user_id blogpost.user.id)}}
<div class="button-container">
    <a href="/blogpost/{{blogpost.id}}/update"><button id="update-post">Update Post</button></a>
    <button id="delete-post">Delete Post</button>
</div>

<script src="/js/deletePost.js"></script>
{{/if}}

{{#if blogpost.comments}}
<div class="comments">
    <h2>Comments</h2>
    {{#each blogpost.comments as |comment|}}
        <div class="comment">
            <h3>Comment by {{comment.user.username}} on {{comment.createdAt}}</h3>
            <p>{{comment.comment}}</p>
        </div>
    {{/each}}
</div>
{{/if}}

<form class="form" id="comment-form">
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment" required>
    <button type="submit">Post Comment</button>
</form>

<script src="/js/comment.js"></script>