<a href="/dashboard/post"><button id="create-post">Create a new post!</button></a>

{{#if userBlog}}
    {{#each userBlog as |post|}}
    <div class="blogpost">
        <a class="blog-links" href="/blogpost/{{id}}">
            <h2>{{title}}</h2>
            <h3>Posted by {{user.username}} on {{format_date createdAt}}</h3>
            <p>{{body}}</p>
        </a>
    </div>
    {{/each}}
{{/if}}